<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} <title>Types Of Diseases</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Add additional CSS in static file -->
 
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
     
            {% block sidebar %}CygenHealthTech{% endblock %}
            {% block content %}<!-- default content text (typically empty) -->{% endblock %}
            <div class="container-fluid">

                <div class="row">

                  <div class="col-sm-2">

                   

                    <ul class="sidebar-nav">

                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="">All diseases</a></li>
                        <li><a href="">all references</a></li>
                    </ul>
                    
                  </div>

                   <div class="col-sm-10 ">
                  
                </div>
             </div>
             <div>
                    <table>
                        <tr>
                
                            <th>Cardiovascular diseases</th>
                            <th>Autoimmune diseases</th>
                            <th>Microbial diseases</th>
                        </tr>
                    
                        <tr>
                            <td>Inflammatory Heart Disease</td>
                           
                            <td>Rheumatoid Arthiritis</td>
                            <td>Cholera</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <img src="{% static 'pics/ihd1.png' %}" class="responsive-img" style='max-height:100px;' >
                            </td>
                        </tr>
                        <tr>
                            <td>Aortic Aneurysm</td>
                            <td>SLE</td>
                            <td>MRSA</td>
                        </tr>
                        <tr>
                            <td>Coronary Artery Disease</td>
                            <td>Pernicious Anemia</td>
                            <td>HIV</td>
                        </tr>
                    </table>
                </div>           
                <img src="Earth.gif" width="50" height="50" border="5" alt="text describing the image" />             
</body>
</html>
